@use "mixins";

.footer {
  padding-top: 58px;
  background-color: var(--footer-bg-color);
}

.footer .container.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  gap: 60px;

  @include mixins.viewport-desktop {
    flex-direction: row;
  }
}

.footer-link-logo {
  position: relative;
  display: block;
  width: 145px;
  height: 94px;
  margin-right: 99px;
}

.footer-logo-up {
  fill: var(--text-footer-color);
}

.footer-logo-name-text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Tachyon", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--text-footer-color);
  text-transform: uppercase;
}

.footer-nav {
  margin-right: 157px;
}

.footer-block-title {
  margin-bottom: 25px;
  font-weight: 700;
  color: var(--text-footer-color);
}

.footer-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--text-footer-color);
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-nav-item {
  transition: scale var(--transition-time);
  &:hover {
    scale: (1.2);
  }
}

.footer-logo-location {
  stroke: var(--text-footer-color);
}

.footer-address {
  @include mixins.viewport-desktop {
    margin-right: 140px;
  }
}

.footer-address-text {
  width: 240px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--text-footer-color);
}

.footer-address-wrap {
  display: flex;
  align-items: center;
  gap: 19px;
  margin-bottom: 32px;
}

.footer-phone-wrap {
  display: flex;
  align-items: center;
  gap: 19px;
  margin-bottom: 32px;
}

.footer-logo-phone {
  fill: var(--text-footer-color);
}

.footer-link-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--text-footer-color);
}

.footer-address-email {
  display: flex;
  align-items: center;
  gap: 19px;
}

.footer-logo-email {
  stroke: var(--text-footer-color);
}

.footer-link-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--text-footer-color);
}

.social-list {
  display: flex;
  gap: 40px;
}

.social-list-item {
  transition: scale var(--transition-time);
  &:hover {
    scale: (1.2);
  }
}

.footer-logo-social {
  fill: var(--text-footer-color);
}

.separator {
  height: 1px;
  margin-bottom: 24px;
  background-color: rgba(255, 255, 255, 0.1);
}
.rights {
  display: block;
  padding-bottom: 24px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 1.83333;
  color: rgba(200, 200, 200, 0.5);
}

.footer-social {
  margin-right: 80px;
  @include mixins.viewport-desktop {
    margin-right: 0;
  }
}
