@use "mixins";

html {
  // font-size: 8px;
  // @include mixins.viewport-md {
  //   font-size: 10px;
  // }
  scroll-behavior: smooth;
}
body {
  font-family: "TTHoves", sans-serif;
  color: var(--text-primary-color);
  transition: background-color 0.2s ease, color 0.2s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-flow: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-weight: 300;
  font-size: 64px;
  line-height: 1;
  color: var(--title-color);
}

// .icon {
//   fill: red;
// }

// .dark {
//   color-scheme: dark;
// }

// .title {
//   font-size: 4rem;

//   span {
//     font-size: 5rem;
//     text-transform: uppercase;
//     font-weight: 700;
//     @include mixins.text-gradient;
//   }
// }

// .footer {
//   padding: 3rem 0;
//   font-size: 1.6rem;

//   a {
//     text-decoration: none;
//     color: var(--brand-color);
//     transition: 0.2s ease;
//     &:hover {
//       color: var(--brand-light-color);
//     }
//   }
// }
