@use "mixins";

.section-main-tasks {
  padding-bottom: 60px;
}

.main-tasks-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mixins.viewport-desktop {
    flex-direction: row;
    align-items: center;
  }
}

.number-task {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 900;
  font-size: 200px;
  color: #f2f2f2;
}

.main-task-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63636;
  color: #333;

  @include mixins.viewport-tablet {
    font-size: 22px;
  }
}

.main-task-text.first {
  width: 150px;

  @include mixins.viewport-tablet {
    width: 279px;
  }
}

.main-task-text.second {
  width: 150px;

  @include mixins.viewport-tablet {
    width: 420px;
  }
}

.task-wrap {
  display: flex;
  align-items: center;
  gap: 30px;
}
