@mixin viewport-md {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin btn-light {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 222px;
  height: 71px;
  border: none;
  background-color: var(--button-bg-light-color);
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--text-primary-color);
}
