:root {
  --main-color: #1e1e20;
  --second-color: #9b4a73;
  --mute-color: #313136;
  --main-text-color: rgba(255, 255, 245, 0.86);
  --second-text-color: rgba(235, 235, 245, 0.6);
  --hero-name-background: linear-gradient(120deg, #cd6699 30%, #9b4a73);
  --brand-color: #cd6699;
  --brand-light-color: #9b4a73;

  /*Colors*/

  --title-color: #bdbdbd;
  --text-primary-color: #333333;
  --text-secondary-color: #000000;
  --text-img-color: #ffffff;
  --text-secondary-color: #000000;
  --text-footer-color: #ffffff;
  --text-placeholder-color: #8d8d8d;
  --task-number-color: #f2f2f2;
  --project-number-btn-bg-color: #f9f9f9;
  --button-bg-light-color: #ffffff;
  --button-bg-dark-color: #333333;
  --separator-color: #e0e0e0;
  --section-about-company-bg-color: #fbfbfb;
  --bg-img: rgba(51, 51, 51, 0.8);
  --input-bg-color: #f3f3f3;
  --footer-bg-color: #2c2c2c;
}
